@page "/login"
<a href="https://accounts.spotify.com/nl/authorize?client_id=529c1e09bd3d4ceba430e8b614af9bb2&response_type=code&redirect_uri=https:%2F%2Flocalhost:44362%2Fcallback&scope=user-modify-playback-state&state=34fFs29kd09"><button>Login</button></a>
    @code {

    }
